<%- include("./partials/head") %> 
<body>
	<%- include("./partials/header") %> 
	<h1 align="center">Hola <%= user %> </h1>
	<p align="center"><img src="/images/bienvenida.jpg" width="70%"></p>
	<%- include("./partials/footer") %> 
</body>
</html>