<%- include("./partials/head") %> 
<body>
	<%- include("./partials/header") %> 
	<h1 align="center">Music</h1>
	<p align="center"><img src="/images/music.png" width="100%"></p>
	<%- include("./partials/footer") %> 
</body>
</html>