<%- include("./partials/head") %> 
<body>
	<%- include("./partials/header") %> 
	<p align="center"><img src="/images/access-denied.jpg" width="50%"></p>
	<%- include("./partials/footer") %> 
</body>
</html>